@import "../../scss/assets/vars";

.row {
  padding: 2rem;

  .rows {
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
    height: 265px;

    &.nowrap {
      height: initial;

      .liked {
        background: #8e8ee5;
        background: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
        border-radius: 4px;

        .card-element:hover {
          background: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
        }
        
        .card {
          padding: 20px;
          
          &-img {
            display: none;
          }

          &-title {
            font-size: $fs-big;
          }

          &-hover {
            top: 70%;
          }
        }
      }
    }
  }

  &-title {
    margin: 1rem 0;
    font-size: $fs-big;
    font-family: $ff-bold;
    text-transform: capitalize;
  }

  .show-more {
    font-size: $fs-small;
    text-transform: capitalize;
    font-family: $ff-bold;
    color: $clr-whiteFaded;

    &:hover {
      color: $clr-white;
    }
  }
}

@media (max-width: 480px) {
  .row {
    
    .rows {
      flex-wrap: nowrap;
    }
  }
}
