@import "/src/scss/assets/vars";

.search {

  .types {
    overflow: hidden !important;
  }

  &-results {

    .results {
      justify-content: flex-start !important;
      align-items: flex-start !important;

      @media (max-width: 480px) {
        display: block;
      }

      h5 {
        font-family: $ff-bold;
        font-size: $fs-big;
        text-transform: capitalize;

        @media (max-width: 480px) {
          display: none;
        }
      }

      &-top {
        font-family: $ff-bold;
        text-transform: capitalize;
        flex: 0.5;

        .wrapper {
          padding: 1rem;
          margin-top: 40px;
          background-color: $clr-lightBlack;
          cursor: pointer;

          &:hover {
            background-color: $clr-darkGrey;
          }
        }

        img {
          width: 92px;
          height: 92px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &-songs {
        flex: 1;
        height: 100%;
        margin-left: 1rem;

        .music-list {
          padding: 0;

          .music-list-wrapper {
            padding: 0;
            margin-top: 40px;

            .position {
              display: none;
            }

            .music-list-item {
              padding: 0.4rem;
              margin-top: 0px;
              grid-template-columns: 90% 10%;

              .album,
              .duration {
                display: none;
              }
            }
          }
        }
      }
    }

    .music-list-headings {
      grid-template-columns: 2% 38% 30% 15% !important;

      .date-added {
        display: none;
      }
    }
  }

  .row {
    padding: 0;
  }

  &-artists,
  &-albums {
    margin: 2rem 0;

    .row {
      padding: 2rem 0;
    }
  }
}
