@import '../../scss/assets/vars';

.welcome {
  padding: 4rem 2rem 2rem;
  background: rgb(67, 74, 86);
  background: linear-gradient(
    180deg,
    rgba(67, 74, 86, 0.7651435574229692) 44%,
    rgba(203, 40, 40, 0) 100%
  );

  &-title {
    text-transform: capitalize;
    margin: 1rem 0;
  }

  &-rows {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 1rem;

    @media (max-width: 1220px) {
      grid-template-columns: repeat(2, 50%);
    }
  }

  .card {

    &-hover {
      top: 50%;
      transform: translateY(-50%);
    }

    &-title {
      width: 65% !important;
    }
  }
}