@import '../../scss/assets/vars';

.browse-card {
  position: relative;
  min-height: 170px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  &-title {
    margin: 1rem;
    font-family: $ff-bold;
  }

  &-img {
    position: absolute;
    right: -30%;
    bottom: 10%;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg) translateX(-50%);
    object-fit: cover;
  }
}