@import '../../scss/assets/vars';

.library {
  // padding: 5rem 2rem 2rem;
  padding-top: 5rem;

}

@media (max-width: 768px) {
  .library {

    .row .rows {
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      
      .liked {
        background: transparent !important;

        .card {
          padding: 0;

          &-img {
            display: block;
          }

          &-songs {
            display: none;
          }

          &-title {
            font-size: $fs-small;
          }
        }
      }
  
      .card {
        padding: .5rem 0;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-areas: 
          "img title"
          "img undertext"
        ;

        &-img {
          grid-area: img;
          max-width: 80px;
          height: 80px;
          margin-right: 1rem;
        }

        &-title {
          grid-area: title;
          align-self: flex-end;
        }

        &-undertext {
          grid-area: undertext;
          align-self: flex-start;
        }
      }
    }
  }
}