@import "../../scss/assets/vars";

.navbar {
  margin: 2rem 0 1rem;

  // navbar menu for tablet/mobile resolution
  &.bottom {
    margin: 0;
    justify-content: space-around !important;
    width: 100%;
    background-color: $clr-black;
    @media (min-width: 769px) {
      display: none;
    }
    li {
      font-size: calc($fs-small - .2rem);
      font-family: $ff-regular;
      a {
        flex-direction: column !important;
      }
      span {
        margin: .4rem 0 0;
      }
    }

    li:nth-child(4),
    li:nth-child(5) {
      display: none;
    }
  }

  &-item {
    font-size: $fs-small;
    font-family: $ff-bold;
    color: $clr-whiteFaded;
    text-transform: capitalize;
    transition: 350ms;

    &:nth-of-type(4) {
      margin-top: 1.5rem;
    }

    &.active {
      color: $clr-white;
    }

    &:hover {
      color: $clr-white;
    }

    a {
      justify-content: flex-start !important;
      width: 100%;
      padding: 0.6rem 0;
    }

    span {
      margin-left: 1rem;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
