@import "../../scss/assets/vars";

.search {
  padding: 5rem 2rem 2rem;

  &-title {
    margin: 1rem 0;
    font-size: $fs-big;
    font-family: $ff-bold;
    text-transform: capitalize;
  }

  &-categories {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;

    @media (max-width: 1700px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: 1400px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .types {
    margin-bottom: 30px;
    justify-content: flex-start !important;

    li {
      margin-left: 0.5rem;
      font-size: $fs-small;
      border-radius: 32px;
      background-color: $clr-darkGrey;
      text-transform: capitalize;
      cursor: pointer;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        background-color: $clr-greyFaded;
      }

      a {
        display: block;
        padding: 0.5rem 1rem;
      }
    }
  }
}
