@import '../../scss/assets/vars';

.playlist {
  margin: 1rem 0;

  li {
    font-size: $fs-small;
    color: $clr-whiteFaded;
    cursor: pointer;
    
    &:hover {
      color: $clr-white;
    }
    
    a {
      padding: .5rem 0;
      display: block;
    }
  }
}