$ff-regular: 'montserrat', sans-serif;
$ff-bold: 'montserrat-bold', sans-serif;

$fs-small: 0.875rem;
$fs-big: 1.5rem;

$clr-white: #ffffff;
$clr-whiteDark: #dddddd;
$clr-whiteFaded: #ddddddad;
$clr-black: #000000;
// $clr-lightBlack: #181818;
// $clr-lightGrey: #434a56;
// $clr-darkGrey: #282828;
// $clr-greyFaded: #cccccc3b;
$clr-green: #23bb58;