@import './assets/vars';
@import './assets/reset';
@import './assets/utils';

.app {
  display: grid;
  grid-template-columns: .1fr 1fr;
  color: $clr-white;

  @media (max-width: 768px) {
    display: block;
    .aside {
      display: none;
    }
  }
}